<header>
	<div class="logo">
		<!-- Logo here -->
	</div>
	<div class="left-menu">
		<!-- Login Logout settings menu here -->
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="list-group">
				<a href="/" class="list-group-item active">Playlist</a>
				<a href="/groups" class="list-group-item">Groups</a>
				<a href="/pis" class="list-group-item">Manage Signages</a>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h4 class="text-center">All Playlist</h4></div>
				<div class="panel-body">
				<div class="playlist-container">
				<% @playlists.each do |playlist| %>
					<div class="link-split" data-id="<%= playlist.id %>">
					<div class="row">
					<div class="col-sm-10"><h5><%= link_to playlist.name.titlecase, playlist_path(playlist) %> </h5></div>
            <div class="col-sm-2 text-right"> <%= link_to "Delete Playlist", playlist_path(playlist), method: :delete, data: { disable_with: "Wait..." }, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", remote: true %></div>
            </div>
					</div>
					<% end %>
					</div>
					<div class="link-split text-center">
						<a data-toggle="modal" data-target="#playlistModal" class="btn btn-primary text-center">Add Playlist</a>
					</div>
				</div>
				<!-- <div class="panel-footer"><button class="btn btn-success">Save</button></div> -->
			</div>
		</div>
	</div>
</div>


<!-- Group Modal -->
<div class="modal fade" id="playlistModal" tabindex="-1" role="dialog" aria-labelledby="playlistModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="playlistModalLabel">Add a new playlist</h4>
      </div>
        <%= form_for :playlist, url: "/playlists", method: "post", remote: true do |f| %>
      <div class="modal-body">
    <div class="form-group">
    	<%= f.label :name %>
        <%= f.text_field :name , class: "form-control" %>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" value="save" class="btn btn-primary">Save changes</button>
        <% end %>
      </div>
    </div>
  </div>
</div>


<style>
	.link-split {
		border-bottom: 1px solid #eee;
		padding:10px 20px 20px 20px;
		margin:0px -15px;
	}
</style>